<div class="container card-container">
  <div class="results">
  <h2>Your goat bookings:</h2>
  <% if @bookings.empty? %>
    <p>You didn't book any goat</p>
    <div class="btn btn-outline-primary">Book a new Goat</div>
  <% else %>
  <!-- <p>for: <strong>Today</strong></p> -->
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="booking-card">
          <div class="card-picture">
            <%= cl_image_tag booking.goat.photo, width: 300, height: 200, crop: :fill, class: 'card-img-top' %>
          </div>
          <div class="card-body-booking">
            <h5 class="card-title"> <%= booking.goat.name %> </h5>
            <p class="card-text specie"> <%= booking.goat.specie.capitalize %> </p>
            <div class="call-to-action">
              <h5 class="bookings-dates">From <strong> <%= booking.beginning_date %> </strong> , To   <strong> <%= booking.end_date %> </strong></h5>
              <div class="container validation">
                <div>Status:</div>
                <% if booking.status == "pending" %>
                    <div class="status pending"> <%= booking.status.capitalize %> </div>
                <% elsif booking.status == "denied" %>
                    <div class="status denied"> <%= booking.status.capitalize %> </div>
                <% else %>
                    <div class="status validated"> <%= booking.status.capitalize %>d </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
<div class="line"></div>
<div class="container card-container">
  <div class="results">
  <h2>Your goats' requests:</h2>
  <% if @requests.empty? %>
    <p>You didn't add any goat</p>
  <% else %>
    <div>
      <% @requests.each do |request| %>
        <div class="card-product">
          <%= cl_image_tag request.goat.photo, width: 300, height: 200, crop: :fill, class: 'card-img-top' %>
          <div class="card-product-infos">
            <h2><%= request.goat.name %> </h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

